@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;600;700&display=swap');

@font-face {
  font-family: 'floyd';
  src: url('FloydAccentedV2Regular.woff2') format('woff2'),
  url('FloydAccentedV2Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'substanta';
  src: url('substanta-webfont.woff2') format('woff2'),
  url('substanta-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
